.header
  %p.purpose 〜今日のご飯に迷った時のアプリ〜
.outline
  .roulette#roulette 1
  %input.r_btn{:id => "start", :type => "button", :value => "スタート", :onclick => "start();"}/
  %input.r_btn{:id => "stop", :type => "button", :value => "ストップ", :onclick => "stop();"}/


  
